<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0DB254CDDD8748E0B04725B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22ABEBFBFE394517B7EF3512</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4927137D91AB44D890B2C85C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7712566F02B8460BAAB92966</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83493AEE5C0D45A7884E3E8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BC03126A2C04CEDA11D674B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3900FF4548F4EE483480675</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA05158828C240349470CD36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8A5EC05FD584912B241FD91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
